<div class="content_editor essence_file" id="<%= content.dom_id %>">
  <% if respond_to?(:content_label) %>
    <%= content_label(content) %>
  <% else %>
    <%= label_and_remove_link(content) %>
  <% end %>
  <div class="file" id="file_<%= content.id %>">
    <div class="file_icon">
    <% if content.ingredient.nil? %>
      <%= link_to_dialog '',
        alchemy.admin_attachments_path(
          content_id: content.id,
          only: options[:file_assign_show_only],
          except: options[:file_assign_do_not_show],
          options: options.to_json
        ),
        {
          title: Alchemy.t(:assign_file),
          size: '780x585',
          padding: false
        },
        class: 'assign_file',
        title: Alchemy.t(:assign_file)
      %>
    <% else %>
      <%= render_icon(content.ingredient.icon_css_class) %>
    <% end %>
    </div>
    <div class="file_name">
      <%= content.ingredient.name rescue ("&#x2190;" + Alchemy.t(:assign_file_from_archive)).html_safe %>
    </div>
    <% unless content.ingredient.nil? %>
    <%= hidden_field_tag content.form_field_name(:attachment_id), content.ingredient.id %>
    <div class="essence_file_tools">
      <%= link_to_dialog '',
        alchemy.admin_attachments_path(
          content_id: content.id,
          only: options[:file_assign_show_only],
          except: options[:file_assign_do_not_show],
          options: options.to_json
        ),
        {
          title: Alchemy.t(:assign_file),
          size: '780x585',
          padding: false
        },
        class: 'assign_file',
        title: Alchemy.t(:assign_file)
      %>
      <%= link_to_dialog '',
        url_for(
          controller: controller,
          action: 'edit',
          options: options.to_json,
          id: content.essence.id
        ),
        {
          title: Alchemy.t(:edit_file_properties),
          size: '400x165'
        },
        class: 'edit_file',
        title: Alchemy.t(:edit_file_properties)
      %>
    </div>
    <% end %>
  </div>
</div>
